
<div class="form-group">
    <label for="title">title</label>
    <input required  type="text" name="title" class="form-control">
</div>
<div class="form-group">
    <label for="Description">Description</label>
    <textarea name="Description" id="Description" class="form-control"></textarea>
</div>
<div class="form-group">
    <label for="markdown">markdown</label>
    <textarea required  id="markdown" name="markdown" class="form-control"></textarea>
</div>
<a href="/" class="btn btn-secondary">Cancel</a>

<button type="submit" class="btn btn-primary">Save</button>